@page "/inventoryChart"

<h3>Inventory_Chart</h3>
<p>
    To create a Bar Graph to display the items based on the number of that item
    that have been taken out. (The chart should clearly show the relation of the Item
    and the number that has been taken out.)
</p>
@code {

}