@page "/inventorydetails"

<h3>Inventory_Details</h3>
<p>
    Create a Data Grid View for the display of all the items in the inventory (in stock
    currently). The table should include records for all the items currently available
    in the inventory and should include columns for the Name of the item, Quantity
    in the inventory and the date it was last taken on.
</p>
@code {

}
