<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Bike Service Center</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class='@(_collapseNavMenu ? "collapse" : "")' @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3"><h5 class="text-light">Admin Panel </h5></div>
          @if (UserRole == Role.Admin)
        {
        <div class="nav-item px-3">
                <NavLink class="nav-link" href="add_inventory">
                <span class="oi oi-plus" /> Add Items  
            </NavLink>
        </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventorydetails">
                <span class="oi oi-document" /> Inventory   
            </NavLink>
        </div>
        @if (UserRole == Role.Admin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="inventory_logs">
                    <span class="oi oi-share-boxed" /> Inventory Logs
                </NavLink>
            </div>
        }
        @if (UserRole == Role.Admin)
        {
        <div class="nav-item px-3">
                <NavLink class="nav-link" href="inventoryChart">
                    <span class="oi oi-bar-chart" /> Inventory Chart
            </NavLink>
        </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="change-password">
                <span class="oi oi-key" /> Change Password
            </NavLink>
        </div>
        @if (UserRole == Role.Admin)
        {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-person" /> Users
            </NavLink>
        </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link text-danger" role="button" @onclick="LogoutHandler">
                <span class="oi oi-account-logout" /> Logout
            </NavLink>
        </div>

    </nav>
</div>

@code {
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public Role UserRole { get; set; }
    [Parameter]
    public EventCallback LogoutHandler { get; set; }

    private bool _collapseNavMenu { get; set; } = true;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
